/* CAMURDAN ATOLYE STYLES */
/* ************************************************************************* */
/* A production of Yaygara Design Co */

/* Designed by   : Irmak Ozkan  */
/* Developed by: Emre Kelleci */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */

/* SECTIONS : */
/* 1- General  */
/* 2- Header  */
/* 3- Footer  */
/* 4- About Page */
/* 5- Workshops*/




/* 1- GENERAL section */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    overflow-x:hidden;
    font-family: 'Montserrat',sans-serif;
    font-size:1.2vw;
}

/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */








/* 2- HEADER section */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */

header{
    font-family:'Montserrat';
    height:25vw;
    background-color:#E8D3C9;
    width:100%;
}

header h1{
    font-size:5vw;
    font-weight:300;
    padding-top:1vw;
}

header ul{
    text-align:center;
    display:flex;
    flex-direction: row;
    list-style-type: none;
}

header ul li{
    font-size:1.5vw;
    font-weight:300;
    padding:2vw;
    color:black;
}

header ul .languageSwitch:hover{

    cursor:pointer;

}

header ul .menu-item{
    color:black;
    text-decoration: none;
}


header .headerContent{
    padding:2% 25%;
    text-align:center;
}

header .logo{
   height:10vw;
    width:auto;
}

.active{
    font-weight:600;
}

/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */








/* 3- FOOTER section */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */


    footer{
        margin-top:30vw;
        background-color:#496455;
        color:white;
        height:20vw;
        width:100%;
        display:grid;
        grid-template-columns:20% 40% 40%;

    }

    footer .footer-section-1{
        margin-top:3vw;
        height:10vw;
        text-align:center;
    }
    footer .footer-section-2{
        margin-top:3vw;
    }
    footer .footer-section-2 h1{
    }
    footer .footer-section-2 p{
        font-size:1.4vw;
        line-height:2vw;
    }
    footer .footer-section-3{
        margin-top:11vw;
        margin-right:2vw;
        text-align:right;
    }

    footer .footer-section-3 .socialMedia{

        font-size:2vw;
        margin-bottom:1vw;
    }
    footer .footer-section-3 .socialMedia .instagram i, footer .footer-section-3 .socialMedia .facebook i{
      
       color:white;
       transition:0.3s;
    }
    footer .footer-section-3 .socialMedia .instagram i:hover, footer .footer-section-3 .socialMedia .facebook i:hover{
    
      opacity:0.5;

    }
    footer .footer-section-3 .socialMedia .instagram i{
        margin-right:2vw;
    }




/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */








/* 4 - ABOUT section */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */

.about-section{
  padding:10% 30%;
}

.about-section .about-text{

    height:auto;
    width:40vw;
}

.about-section .about-text .backgroundImage{
    position:absolute;
    top:20;
    z-index:-1;
    opacity:0.9;

}
.about-section .about-text p{
    margin-left:1vw;
    margin-top:-40vw;
    color:#474747;
    padding:7vw;
}


.about-people-section{
    padding:2vw;
}




.about-people-section .people-text{
  padding:1vw;
}
.about-people-section .people-text .tugba {
    width:45%;
    text-align:right;
    margin-top:-10vw;

}

.about-people-section .people-text .tugba .tugbaBall{
    position:absolute;
    z-index:-1;
    width:10vw;
    height:10vw;
    margin-top:-8vw;
    opacity:0.3;
}

.about-people-section .people-text .tugba .tugbaPic{
    
    width:25vw;
    height:25vw;
    margin-left:25vw;
    padding-bottom:15vw;

    
}

.about-people-section .people-text .tugba .bio{

   padding-left:40%;
   padding-top:5%;
   text-align:right;
} 


.about-people-section .people-text .tugba .name,.about-people-section .people-text .funda .name{

    font-family:'futura';
    font-size:5vw;
    font-weight:300;

}

.about-people-section .people-text .funda{
    margin-top:-75%;
    float:right;
    width:42%;
}

.about-people-section .people-text .funda .fundaBall{
    position:absolute;
    z-index:-1;
    width:10vw;
    height:10vw;
    margin-top:-6vw;
    margin-left:18vw;
    opacity:0.5;
}

.about-people-section .people-text .funda .fundaPic{
    
    width:27vw;
    height:27vw;
    padding-bottom:15vw;
    margin-left:-6vw;
    
}

.about-people-section .people-text .funda .bio{

    padding-right:40%;
    padding-top:5%;

}





/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */


/* 5- Workshops section */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */

 .workshops{
   /* display:flex;
   flex-flow:row wrap;
   justify-content: center;  */
   margin-top:5%;
   text-align:center;
   

}

.workshops .workshop-1,.workshops .workshop-2{
    width:40%;
    transition:1s;
    cursor:pointer;

}
.workshops .workshop-1:hover .workshop-image img ,.workshops .workshop-2:hover .workshop-image img{
    opacity:0.8;
    
}

.workshops .workshop-2{
    border:0.1vw solid black;
}

.workshops .workshop-image{
    
    text-align:center;
}

.workshops .workshop-image img{
   height:20vw;
}

.workshops .workshop-title{
    font-size:1.5vw;
    font-weight:300;
    padding:0% 20%;
}


/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
