/* CAMURDAN ATOLYE STYLES */
/* ************************************************************************* */
/* A production of Yaygara Design Co */

/* Designed by   : Irmak Ozkan  */
/* Developed by: Emre Kelleci */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */

/* SECTIONS : */
/* 1- General  */
/* 2- Header  */

/* 1- GENERAL section */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */


*{
    margin:0;
    padding:0;
}

body{
    overflow-x:hidden;
}

/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */








/* 2- HEADER section */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */

header{
    font-family:'Montserrat';
    height:25vw;
    background-color:#E8D3C9;
    width:100%;
}

header h1{
    font-size:5vw;
    font-weight:300;
    padding-top:1vw;
}

header ul{
    margin-left:5%;
    text-align:center;
    display:flex;
    flex-direction: row;
    list-style-type: none;
}

header ul li{
    font-size:1.5vw;
    font-weight:300;
    padding:2vw;
    color:black;
}

header ul .menu-item{
    color:black;
    text-decoration: none;
}


header .headerContent{
    padding:2% 25%;
    text-align:center;
}

.active{
    font-weight:500;
}

/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */





/* ABOUT section */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */

.about-section{
  padding:10% 35%;
}

.about-people-section{
    padding:2vw;
}

.about-people-section .people-text{
  padding:1vw;
}
.about-people-section .people-text .tugba {
    padding:0 50% 10% 10%;
    text-align:right;
}

.about-people-section .people-text .funda{
    margin-top:25%;
}





/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */
/* ************************************************************************* */

